.c-search {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 14px;
  line-height: 12px;
  padding: 6px 13px;
  max-width: 230px;
  width: 100%;

  &__button {

  }

  &__submit {
    position: absolute;
    right: 0px;
    top: 1px;
    margin-left: auto;
    background: #333;
    border-radius: 3px;
    // height: 30px;
    padding: 7.5px 6px;
    transition: opacity .3s;
    // width: 30px;

    svg {
      stroke: 0;
      fill: white;
      display: inline-block;
    }
  }

  input {
    background-color: transparent;
    padding: 0;
    height: 100%;

  }

  // svg {
  //   stroke: #333;
  // }
}
