.p-author {
	.c-author-card {
		margin-bottom: 50px;
	}

	@include mq('tablet-wide') {
		.c-author-card {
			flex-direction: column;
    	align-items: center;
    	text-align: center;
		}
	}

	@include mq('tablet') {
		.c-post-card {
    	border-bottom: 1px solid #d8d8d8;
    	padding-bottom: 20px;			
		}
	}
}