{% extends "base.twig" %}

{% block content %}
  <main class="p-error">
    <div class="u-container">
      <h1 class="u-h3">Page not found</h1>
      {# <p>Return <a href="{{site.url}}">to Home</a></p> #}
      <a href="{{site.url}}" class="u-btn is-black is-medium is-border-radius">home page</a>
    </div>
  </main>
{% endblock %}
