{% extends 'templates/base.twig' %}
{% block content %}
	<main class="p-main">
		<div class="u-container">
			{% include 'templates/partial/seo-text.twig' with {'title': post.title, 'content': post.content} %}
		</div>
		<div class="u-container">
			{% include 'templates/partial/news-3.twig' with {'data': news_big_block} %}
			<div class="row u-relative">
				<div class="col-lg-8 col-md-12">
					{% if categories is not empty %}
						{% for cat in categories %}
							{# Включаем шаблон interest-news.twig для каждой категории #}
							{% include 'templates/partial/interest-news.twig' with {
                'name': cat.name,
                'posts': cat.posts
            	} %}

							{# Отображение связанных постов, если они есть #}
							{% if cat.related_posts is not empty %}
								<section class="l-news-row">
									<div class="row">
										{% for item in cat.related_posts %}
											<div class="col-lg-4 col-md-6 col-sm-6 col-12 u-col">
												{% include 'templates/partial/news-block.twig' with {
                                    'post': item,
                                    'small': true,
                                    'column': true,
                                    'width': 237,
                                    'height': 165
													} %}
											</div>
										{% endfor %}
									</div>
								</section>
							{% endif %}

							{# Отображение выделенных постов (highlight), если они есть #}
							{% if cat.highlight is not empty %}
								<section class="l-highlight">
									{# <h3 class="u-h5">{{ cat.name }}</h3> #}
									<div
										class="l-highlight__flex">
										{# Извлекаем первый пост для выделения #}
										{% set first_highlight = cat.highlight|first %}
										{% if first_highlight %}
											<div class="l-highlight__article">
												{% include 'templates/partial/news-block.twig' with {
                                    'post': first_highlight,
                                    'small': true,
                                    'row': true,
                                    'width': 300,
                                    'height': 160
                                } %}
											</div>
										{% endif %}

										{# Список остальных выделенных постов #}
										{% set remaining_highlights = cat.highlight|slice(1) %}
										{% if remaining_highlights is not empty %}
											<ul class="l-highlight__list">
												{% for item in remaining_highlights %}
													<li>
														<a href="{{ item.permalink | e }}">
															{{ item.post_title | excerpt(8) }}
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</div>
								</section>
							{% endif %}
						{% endfor %}

					{% endif %}
					{% include 'templates/partial/banner.twig' with {'data': options.global_banner} %}
				</div>
				<div class="col-lg-4 col-md-12">
					{% include 'templates/partial/sidebar.twig' %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
