<div style="display: inline-block; position: absolute; z-index: -1; display: none;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="burger" viewBox="0 0 28 28">
      <path d="M28 20.2222H0V23.3333H28V20.2222Z" fill="black"/>
      <path d="M28 12.4445H0V15.5556H28V12.4445Z" fill="black"/>
      <path d="M28 4.66663H0V7.77776H28V4.66663Z" fill="black"/>
    </symbol>
    <symbol id="flame" viewBox="0 0 12 17">
      <g transform="translate(-433 -762)">
        <path fill="#f58b54" d="M436.8 778.92c.17.09.34-.1.24-.26a4.19 4.19 0 0 1-.24-4.15c1.39-3.1 2.23-4.7 2.23-4.7s.44 1.87 1.66 3.53c1.17 1.6 1.81 3.62.78 5.29-.1.16.07.35.23.26a5.16 5.16 0 0 0 2.87-4.57 8.98 8.98 0 0 0-.47-3.31c-.58-1.79-1.28-2.62-1.69-2.98-.12-.1-.31-.01-.3.15.12 1.93-.61 2.42-1.02 1.32a6.6 6.6 0 0 1-.26-2.13c0-1.54-.45-3.13-1.43-4.42a5.53 5.53 0 0 0-.9-.91.19.19 0 0 0-.3.16c.08 1.04.01 4.03-2.62 7.61-2.38 3.32-1.46 5.87-1.13 6.56a5.42 5.42 0 0 0 2.35 2.55z"/>
      </g>
    </symbol>
    <symbol id="clock" viewBox="0 0 16 16">
      <g transform="translate(-376 -763)">
        <path d="M392 770.99c0 1.08-.21 2.12-.64 3.11a7.82 7.82 0 0 1-4.26 4.25 7.73 7.73 0 0 1-6.22 0 7.83 7.83 0 0 1-4.25-4.25 7.9 7.9 0 0 1 0-6.22 7.82 7.82 0 0 1 4.25-4.24 7.9 7.9 0 0 1 6.22 0 7.8 7.8 0 0 1 4.26 4.24c.43.99.64 2.02.64 3.11zm-.97 0a6.94 6.94 0 0 0-3.52-6.08 6.83 6.83 0 0 0-3.52-.95c-1.27 0-2.44.32-3.52.95a6.91 6.91 0 0 0-2.56 2.56 6.82 6.82 0 0 0-.94 3.52 6.95 6.95 0 0 0 2.05 4.98 7.05 7.05 0 0 0 12.01-4.98z"/>
      <g>  
      <path d="M384.99 771.02v-4.53c0-.27-.24-.49-.51-.49a.5.5 0 0 0-.48.49v4.6l.02.07c-.02.16.02.29.13.4l2.61 2.61c.18.18.5.18.68 0 .2-.2.19-.49 0-.68z"/>
    </symbol>

    <symbol id="star" viewBox="0 0 15 15">
      <path d="M6.69161 1.11015C7.09099 0.561686 7.90901 0.561685 8.30839 1.11015L10.2925 3.83495C10.4254 4.01741 10.6161 4.14956 10.8336 4.2099L14.1069 5.11807C14.8028 5.31113 15.0709 6.15551 14.6138 6.7146L12.5867 9.19428C12.4343 9.38066 12.3543 9.61577 12.3613 9.85641L12.4543 13.0399C12.4746 13.735 11.7968 14.2381 11.1374 14.0174L7.81738 12.9062C7.61141 12.8373 7.38859 12.8373 7.18262 12.9062L3.86263 14.0174C3.20318 14.2381 2.52537 13.735 2.54568 13.0399L2.63871 9.85641C2.64574 9.61577 2.56572 9.38066 2.41335 9.19428L0.386187 6.7146C-0.0708709 6.15551 0.197206 5.31113 0.893057 5.11807L4.16643 4.2099C4.38392 4.14956 4.57461 4.01741 4.70747 3.83495L6.69161 1.11015Z" fill="#EA0000"/>
    </symbol>
    <symbol id="linkedin" viewBox="0 0 512 512">
      <g>
        <g>
          <rect y="160" width="114.496" height="352"/>
        </g>
      </g>
      <g>
        <g>
          <path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896
            c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320
            c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z"/>
        </g>
      </g>
      <g>
        <g>
          <circle cx="56" cy="56" r="56"/>
        </g>
      </g>
    </symbol>
    <symbol id="telegram" viewBox="0 0 24 24">
      <path d="m9.417 15.181-.397 5.584c.568 0 .814-.244 1.109-.537l2.663-2.545 5.518 4.041c1.012.564 1.725.267 1.998-.931l3.622-16.972.001-.001c.321-1.496-.541-2.081-1.527-1.714l-21.29 8.151c-1.453.564-1.431 1.374-.247 1.741l5.443 1.693 12.643-7.911c.595-.394 1.136-.176.691.218z"/>
    </symbol>
    <symbol id="whatsapp" viewBox="0 0 30 30">
      <path d="M30.667,14.939c0,8.25-6.74,14.938-15.056,14.938c-2.639,0-5.118-0.675-7.276-1.857L0,30.667l2.717-8.017
      c-1.37-2.25-2.159-4.892-2.159-7.712C0.559,6.688,7.297,0,15.613,0C23.928,0.002,30.667,6.689,30.667,14.939z M15.61,2.382
      c-6.979,0-12.656,5.634-12.656,12.56c0,2.748,0.896,5.292,2.411,7.362l-1.58,4.663l4.862-1.545c2,1.312,4.393,2.076,6.963,2.076
      c6.979,0,12.658-5.633,12.658-12.559C28.27,8.016,22.59,2.382,15.61,2.382z M23.214,18.38c-0.094-0.151-0.34-0.243-0.708-0.427
      c-0.367-0.184-2.184-1.069-2.521-1.189c-0.34-0.123-0.586-0.185-0.832,0.182c-0.243,0.367-0.951,1.191-1.168,1.437
      c-0.215,0.245-0.43,0.276-0.799,0.095c-0.369-0.186-1.559-0.57-2.969-1.817c-1.097-0.972-1.838-2.169-2.052-2.536
      c-0.217-0.366-0.022-0.564,0.161-0.746c0.165-0.165,0.369-0.428,0.554-0.643c0.185-0.213,0.246-0.364,0.369-0.609
      c0.121-0.245,0.06-0.458-0.031-0.643c-0.092-0.184-0.829-1.984-1.138-2.717c-0.307-0.732-0.614-0.611-0.83-0.611
      c-0.215,0-0.461-0.03-0.707-0.03S9.897,8.215,9.56,8.582s-1.291,1.252-1.291,3.054c0,1.804,1.321,3.543,1.506,3.787
      c0.186,0.243,2.554,4.062,6.305,5.528c3.753,1.465,3.753,0.976,4.429,0.914c0.678-0.062,2.184-0.885,2.49-1.739
      C23.307,19.268,23.307,18.533,23.214,18.38z"/>
    </symbol>
    <symbol id="search" viewBox="0 0 21 21">
      <path d="M20.8718 19.6345L14.7715 13.5342C15.9285 12.1057 16.625 10.2897 16.625 8.31253C16.625 3.72903 12.896 0 8.31249 0C3.72898 0 0 3.72903 0 8.31253C0 12.896 3.72903 16.6251 8.31253 16.6251C10.2897 16.6251 12.1057 15.9285 13.5342 14.7715L19.6345 20.8719C19.8055 21.0427 20.0824 21.0427 20.2533 20.8719L20.8719 20.2533C21.0427 20.0824 21.0427 19.8054 20.8718 19.6345ZM8.31253 14.875C4.69376 14.875 1.75002 11.9313 1.75002 8.31253C1.75002 4.69376 4.69376 1.75002 8.31253 1.75002C11.9313 1.75002 14.875 4.69376 14.875 8.31253C14.875 11.9313 11.9313 14.875 8.31253 14.875Z"/>
    </symbol>
    <symbol id="facebook" viewBox="0 0 15 15">
      <path d="M9.99795 2.49062H11.3673V0.105625C11.1311 0.073125 10.3186 0 9.37232 0C7.39795 0 6.04545 1.24187 6.04545 3.52437V5.625H3.8667V8.29125H6.04545V15H8.7167V8.29187H10.8073L11.1392 5.62563H8.71607V3.78875C8.7167 3.01812 8.9242 2.49062 9.99795 2.49062Z"/>
    </symbol>

    <symbol id="save" viewBox="0 0 48 48">
      <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z" fill="#262626"></path>
    </symbol>

    <symbol id="share" viewBox="0 0 48 48">
      <path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z" fill="#262626"></path>
    </symbol>



    <symbol id="insta"  viewBox="0 0 15 15">
      <path d="M10.3125 0H4.6875C2.09906 0 0 2.09906 0 4.6875V10.3125C0 12.9009 2.09906 15 4.6875 15H10.3125C12.9009 15 15 12.9009 15 10.3125V4.6875C15 2.09906 12.9009 0 10.3125 0ZM13.5938 10.3125C13.5938 12.1219 12.1219 13.5938 10.3125 13.5938H4.6875C2.87812 13.5938 1.40625 12.1219 1.40625 10.3125V4.6875C1.40625 2.87812 2.87812 1.40625 4.6875 1.40625H10.3125C12.1219 1.40625 13.5938 2.87812 13.5938 4.6875V10.3125Z"/>
      <path d="M7.5 3.75C5.42906 3.75 3.75 5.42906 3.75 7.5C3.75 9.57094 5.42906 11.25 7.5 11.25C9.57094 11.25 11.25 9.57094 11.25 7.5C11.25 5.42906 9.57094 3.75 7.5 3.75ZM7.5 9.84375C6.20812 9.84375 5.15625 8.79187 5.15625 7.5C5.15625 6.20719 6.20812 5.15625 7.5 5.15625C8.79187 5.15625 9.84375 6.20719 9.84375 7.5C9.84375 8.79187 8.79187 9.84375 7.5 9.84375Z"/>
      <path d="M11.5314 3.96837C11.8074 3.96837 12.0311 3.74465 12.0311 3.46868C12.0311 3.19271 11.8074 2.96899 11.5314 2.96899C11.2555 2.96899 11.0317 3.19271 11.0317 3.46868C11.0317 3.74465 11.2555 3.96837 11.5314 3.96837Z"/>
    </symbol>
    <symbol id="youtube" viewBox="0 0 18 18">
      <path d="M15.0445 4.57685C14.8716 3.93424 14.365 3.42767 13.7224 3.25464C12.5486 2.93347 7.85335 2.93347 7.85335 2.93347C7.85335 2.93347 3.15824 2.93347 1.98444 3.24246C1.35428 3.41531 0.835267 3.93433 0.662415 4.57685C0.353516 5.75056 0.353516 8.18467 0.353516 8.18467C0.353516 8.18467 0.353516 10.6311 0.662415 11.7925C0.83545 12.435 1.34192 12.9416 1.98453 13.1146C3.1706 13.4359 7.85353 13.4359 7.85353 13.4359C7.85353 13.4359 12.5486 13.4359 13.7224 13.1269C14.365 12.9539 14.8716 12.4474 15.0446 11.8049C15.3535 10.6311 15.3535 8.19703 15.3535 8.19703C15.3535 8.19703 15.3658 5.75056 15.0445 4.57685ZM6.35847 10.4334V5.93595L10.2628 8.18467L6.35847 10.4334Z"/>
    </symbol>
    <symbol id="twitter" viewBox="0 0 15 15">
      <path d="M15 2.84906C14.4422 3.09375 13.8478 3.25594 13.2281 3.33469C13.8656 2.95406 14.3522 2.35594 14.5809 1.635C13.9866 1.98937 13.3303 2.23969 12.6309 2.37938C12.0666 1.77844 11.2622 1.40625 10.3847 1.40625C8.68219 1.40625 7.31156 2.78813 7.31156 4.48219C7.31156 4.72594 7.33219 4.96031 7.38281 5.18344C4.82625 5.05875 2.56406 3.83344 1.04437 1.96688C0.779062 2.42719 0.623438 2.95406 0.623438 3.52125C0.623438 4.58625 1.17188 5.53031 1.98937 6.07687C1.49531 6.0675 1.01063 5.92406 0.6 5.69812C0.6 5.7075 0.6 5.71969 0.6 5.73187C0.6 7.22625 1.66594 8.4675 3.06375 8.75344C2.81344 8.82188 2.54063 8.85469 2.2575 8.85469C2.06063 8.85469 1.86187 8.84344 1.67531 8.80219C2.07375 10.02 3.20438 10.9153 4.54875 10.9444C3.5025 11.7628 2.17406 12.2559 0.735938 12.2559C0.48375 12.2559 0.241875 12.2447 0 12.2137C1.36219 13.0922 2.97656 13.5938 4.7175 13.5938C10.3763 13.5938 13.47 8.90625 13.47 4.84312C13.47 4.70719 13.4653 4.57594 13.4587 4.44563C14.0691 4.0125 14.5819 3.47156 15 2.84906Z"/>
    </symbol>
    <symbol id="hart" viewBox="0 0 48 48">
      <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z" fill="#262626"></path>
    </symbol>
    <symbol id="comments" viewBox="0 0 48 48">
      <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd" fill="#262626"></path>
    </symbol>
{# <svg aria-label="Нравится" class="_8-yf5 " fill="" height="24" viewBox="0 0 48 48" width="24"></svg> #}

    <symbol id="arrow" viewBox="0 0 22 13">
      <path d="M10.8039 11.5L10.4353 11.8379L10.7968 12.2321L11.1658 11.845L10.8039 11.5ZM11.1658 11.845L21.3619 1.15007L20.6381 0.460041L10.442 11.155L11.1658 11.845ZM0.631423 1.14292L10.4353 11.8379L11.1725 11.1621L1.36857 0.467186L0.631423 1.14292Z" fill="black"/>
    </symbol>

    <symbol id="big-arrow" viewBox="0 0 30 16">
      <path d="M29.6563 7.17048C29.6559 7.17013 29.6556 7.16972 29.6552 7.16936L23.532 1.07562C23.0732 0.619117 22.3312 0.620816 21.8746 1.0796C21.4181 1.53833 21.4198 2.28031 21.8786 2.73687L25.9897 6.82811H1.17188C0.524648 6.82811 0 7.35276 0 7.99999C0 8.64721 0.524648 9.17186 1.17188 9.17186H25.9897L21.8786 13.2631C21.4199 13.7197 21.4181 14.4616 21.8747 14.9204C22.3313 15.3792 23.0733 15.3808 23.532 14.9244L29.6553 8.83061C29.6556 8.83026 29.6559 8.82985 29.6563 8.8295C30.1153 8.37141 30.1138 7.62704 29.6563 7.17048Z"></path>
    </symbol>

    <symbol id="small-arrow" viewBox="0 0 61 19">
      <path d="M0.113249 9.66667L3 12.5534L5.88675 9.66667L3 6.77992L0.113249 9.66667ZM60 9.66667L60.3145 10.0554L60.7855 9.67423L60.3219 9.2841L60 9.66667ZM3 10.1667H60V9.16667H3V10.1667ZM60.3219 9.2841L50.0231 0.617434L49.3792 1.38257L59.6781 10.0492L60.3219 9.2841ZM50.0157 18.3887L60.3145 10.0554L59.6855 9.27797L49.3866 17.6113L50.0157 18.3887Z" fill="#A58473"/>
    </symbol>
    <symbol id="left_arrow" viewBox="0 0 28 28">
      <path d="M0.320796 14.7742C0.321125 14.7745 0.321397 14.7749 0.321781 14.7753L6.03684 20.4628C6.46499 20.8888 7.1575 20.8872 7.58368 20.459C8.00981 20.0309 8.00816 19.3384 7.58002 18.9123L3.74292 15.0938L26.9062 15.0938C27.5103 15.0938 28 14.6041 28 14C28 13.3959 27.5103 12.9063 26.9062 12.9063L3.74298 12.9063L7.57996 9.08776C8.00811 8.66164 8.00975 7.96913 7.58362 7.54098C7.15744 7.11272 6.46488 7.11125 6.03679 7.53726L0.321725 13.2248C0.321397 13.2251 0.321124 13.2255 0.320741 13.2258C-0.107627 13.6533 -0.106259 14.3481 0.320796 14.7742Z" fill="#C4C4C4"></path>
    </symbol>
  </svg>
</div>
