<section class="l-seo-text">
	<h1 class="u-h1">{{title}}</h1>
	{{ content }}
{# 	<p>This year, The Industry Has Expanded Significantly, Which Contributed to the Creation of the Japanese Union of Cybersport (Jesu).</p>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo veniam et omnis, iste placeat quas fugiat illum saepe accusamus atque eligendi esse consectetur aspernatur maxime nesciunt earum, quod, quos sed eveniet consequatur reiciendis dolores magni delectus aliquid neque? Blanditiis beatae nisi commodi, temporibus ea modi deserunt tempore. Debitis, perferendis, minus?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolore rerum dolorum necessitatibus reiciendis veritatis, obcaecati iusto vitae laudantium iure, animi distinctio ullam. Quod optio debitis quasi excepturi eum porro, architecto corporis quas voluptates earum nulla sapiente, officia ipsum cumque ea sed voluptatem, dignissimos dolores quaerat. Sapiente labore placeat veniam debitis sint quis explicabo expedita molestiae accusantium. Laudantium unde obcaecati eum cumque reiciendis, nulla. Perferendis sint cumque cum ratione eligendi dolore ipsam placeat quos, nobis veniam ipsa quidem accusamus itaque id non dolor debitis deserunt.</p>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolor quasi odit laborum nam asperiores molestiae aspernatur iste delectus sunt.</p>
	<ul>
		<li>Lorem, ipsum dolor sit.</li>
		<li>Lorem ipsum dolor sit amet consectetur.</li>
		<li>Lorem ipsum dolor sit amet.</li>
		<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod?</li>
	</ul> #}
</section>